/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* fonts  */

/* common styles  */
body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

/* common styles  */

/* section coverpage starts */

.coverpage {
    padding-top: 42px;
    padding-bottom: 30px;
    background-color: #2D25A0;
}

/* section coverpage starts */

/* header styles starts */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 36px;
}

button {
    height: 44px;
    width: 123px;
    font-size: 16px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: 0px;
    transition: transform .2s;

    /* animation of button  */
    animation-name: button;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    position: relative;
}

button:hover {
    transform: scale(1.2);
}

@keyframes button {
    from {
        background-color: #E02C6D;
    }

    50% {
        background-color: #c22fa2;
    }

    to {
        background-color: #b518ca;
    }
}

.login button a {
    text-decoration: none;
    color: #FFFFFF;
}

/* header styles ends */

/* banner styles starts */
.banner-container {
    margin-top: 67px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */

}

.conmebol {
    color: #FFFFFF;
    font-size: 35px;
    position: relative;
    left: 80px;
}

.banner-img img {
    height: 438px;
    width: 556px;
}

.watch-live button {
    width: 168px;
    height: 44px;
    position: relative;
    bottom: 40px;
}

.watch-live button a {
    text-decoration: none;
    color: #FFFFFF;
}

/* banner styles ends */


/* players style starts  */
.players-container {
    margin-top: 70px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    padding-left: 100px;
}

.player {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.30);
    height: 450px;
    width: 300px;
    padding: 15px;
}

.player p {
    color: #6C6C6C;
}

.player img {
    width: 300px;
    height: 256px;
    /* display: flex;
    padding: 15px; */
}

/* player section ends  */

/* highlights section starts  */

.highlights-page {
    margin-top: 120px;
}

.highlights-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.highlights h1 {
    font-size: 48px;
}

.highlights p {
    position: relative;
    bottom: 30px;
}

.watch-highlights button {
    margin-top: 24px;
    width: 168px;
    height: 44px;
    position: relative;
    bottom: 40px;
}

.watch-highlights a {
    text-decoration: none;
    color: #FFFFFF;
}


.highlight-img img {
    width: 497px;
    height: 357px;
    transition: transform 0.3s;
}

.highlight-img a img:hover {
    transform: scale(1.2);
}

/* highlights section ends  */

/* ending part starts  */

footer {
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.football-img img {
    width: 483.87px;
    height: 110px;
}

.social-icon-containers img {
    width: 32px;
    height: 32px;
}

/* ----------------------
     Meadia Queires
------------------------ */

/* ----------------------
        Mobile
------------------------ */

@media only screen and (max-width:767px) {

    /* coverpage part starts  */
    header {
        display: none;
    }

    .banner-container {
        display: block;
    }

    .banner-container h1 {
        position: relative;
        right: 55px;
    }

    .watch-live button {
        position: relative;
        right: 55px;
    }

    .banner-img img {
        width: 329px;
        height: 259.17px;
        position: relative;
        left: 16.67px;
    }

    /* coverpage part ends  */

    .players {
        grid-template-columns: repeat(1, 1fr);
    }

}